* {
    margin: 0px;
    padding: 0px;
    --button-active-color: #535353;
    --button-color: #D6D8D9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 900px;
}







header h1 {
    padding: 15px;
    color: white;
    font-weight: 500;
    background: #282828;
}

header h2 {
    padding: 15px;
    color: white;
    font-weight: 400;
    font-size: 1em;
    background: #535353;
}

header h3 {
    padding: 10px;
    background-color: #D6D8D9;
    margin: 20px;
    border-radius: 8px;
    font-weight: 400;
    padding: 15px;
}








.wrapper {
    display: flex;
    width: 900px;
}


.wrapper>* {
    display: flex;
    padding: 10px;
}

.setting {
    flex-direction: column;
    flex: 2;
}

.analysis_info {
    flex: 1;
}





.uploadBinaryFile {
    padding: 10px;
}


.uploadBinaryFile div{
    display: flex;

}

.uploadBinaryFile h4{
    margin: 10px;
    font-size: 20px;
}

.upload_text {
    margin: 10px;
    font-size: 20px;
    padding: 5px 10px;
    border: 2px solid grey;
    border-radius: 8px;
    color: black;
    flex: 3;
}

.upload_label {
    margin: 10px;
    font-size: 20px;
    padding: 5px 0px;
    text-align: center;
    background-color: var(--button-color);
    border: solid 2px;
    border-radius: 8px;
    flex: 1;
}

.upload_delete_button{
    margin: 10px;
    font-size: 20px;
    text-align: center;
    background-color: var(--button-color);
    border: solid 2px;
    border-radius: 8px;
    flex: 1;
}


.upload_label:active{
    box-shadow: 0 0 var(--button-active-color);
    background-color: var(--button-active-color);
}

.upload_delete_button:active{
    box-shadow: 0 0 var(--button-active-color);
    background-color: var(--button-active-color);
}

.upload_input {
    position:absolute;
    clip:rect(0, 0, 0, 0);
}

.upload_label:hover {
    box-shadow: 0 0 var(--button-active-color);
    background-color: var(--button-active-color);
    cursor: pointer;
}

.upload_delete_button:hover {
    box-shadow: 0 0 var(--button-active-color);
    background-color: var(--button-active-color);
    cursor: pointer;
}








.exampleBinaryFile {
    padding: 10px;
}

.exampleBinaryFile div{
    display: flex;

}

.exampleBinaryFile h4{
    margin: 10px;
    font-size: 20px;

}

.exampleSelect {
    margin: 10px;
    font-size: 20px;
    padding: 5px 10px;
    border: 2px solid grey;
    outline: none;
    border-radius: 8px;
    flex: 4.4;
}

.example_delete_button{
    margin: 10px;
    font-size: 20px;
    padding-bottom: 5px;
    text-align: center;
    background-color: var(--button-color);
    border: solid 2px;
    border-radius: 8px;
    flex: 1;
}

.example_delete_button:active{
    box-shadow: 0 0 var(--button-active-color);
    background-color: var(--button-active-color);
}

.example_delete_button:hover {
    box-shadow: 0 0 var(--button-active-color);
    background-color: var(--button-active-color);
    cursor: pointer;
}







.selectModel {
    padding: 10px;
}

.selectModel div{
    display: flex;

}

.selectModel h4{
    margin: 10px;
    font-size: 20px;

}

.modelSelect {
    margin: 10px;
    font-size: 20px;
    padding: 5px 10px;
    border: 2px solid grey;
    outline: none;
    border-radius: 8px;
    flex: 4.4;
}

.AnalysisButton{
    margin: 10px;
    font-size: 20px;
    padding-bottom: 5px;
    text-align: center;
    background-color: var(--button-color);
    border: solid 2px;
    border-radius: 8px;
    flex: 1;
}

.AnalysisButton:active{
    box-shadow: 0 0 var(--button-active-color);
    background-color: var(--button-active-color);
}

.AnalysisButton:hover {
    box-shadow: 0 0 var(--button-active-color);
    background-color: var(--button-active-color);
    cursor: pointer;
}








.analysis_info div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.analysis_info div div{
    flex: 1;
}



.accuracy {
    margin: 30px;
    text-align: center;
    background-color: #656565;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid black;
}

.accuracy h4 {
    font-weight: 400;
    font-size: 1.7em;
    color: white;
}

.showResultStrippedInfo {
    text-align: center;
    background-color: #656565;
    padding: 20px;
    border-radius: 8px;
}

.showResultStrippedInfo h3 {
    font-weight: 400;
    font-size: 1.7em;
    color: white;
}





.showResultItem {
    padding: 10px;
}

.indexColumn {
    width: 34%;
}

.modelPredictionColumn {
    width: 29%;
}

.groundtruthColumn {
    width: 29%;
}

.scoreColumn {
    width: 14%;
}

.infoColumn {
    width: 10%;
}

table {
    margin: 10px auto;
    border-radius: 40px;
    font-size: 0.9em;
    width: 100%;
	table-layout: fixed;
    border: 2px solid #444444;
    border-collapse: collapse;
}

tr, th, td {
    word-wrap:break-word;
    table-layout: fixed;
    border: 1px solid #444444;
    padding: 10px;
    position: relative;
}

th {
    border-bottom: 2px solid #444444 ;
    background-color: #D9D9D9;
}

.codebox {
    border: solid 2px;
    position: absolute;
    right: 10px;
    top: 53px;
    resize: none;
    z-index: 1;
    width: 845px;
    border-radius: 4px;
    padding: 5px;
    outline: none;
}







.toggle_button {
    width: 22px;
    height: 22px;
    border-radius: 10px;
    font-size: 15px;
    background-color: var(--button-color);
    border: solid 1px;
    border-radius: 5px;
}

.toggle_button:active{
    box-shadow: 0 0 var(--button-active-color);
    background-color: var(--button-active-color);
}

.toggle_button:hover {
    box-shadow: 0 0 var(--button-active-color);
    background-color: var(--button-active-color);
    cursor: pointer;
}





